#linkCreate {
	padding: 13px 70px 0 0;
	background: url('../images/next.png') no-repeat;
	background-position: top right;
	height: 64px;
	display: block;
	text-align: right;
	text-decoration: none;
}

.header {
	background: url('../images/nifty.jpg') no-repeat top right;
	height: 160px;
	font-size: 3em;
	text-align: left
}

#footer a {

}

#linkFooterHome {
	/*background: url('../images/home.png') no-repeat;*/
	float: left;
}

#linkFooterCreate {
	/*background: url('../images/splash_new_green1.png') no-repeat;*/
	float: left;
}

#linkFooterHelp {
	/*background: url('../images/info.png') no-repeat;*/
	float: left;
}